.select-holder {
    padding-left: 0 !important;
}

.filter-option-inner-inner {
    text-transform: none;
    font-family: inherit;
    font-size: small;
    color: #495057;
}

.no-padding {
    padding: 0;
}

.bootstrap-select {
    padding-left: 0;
}

.product-image-holder {
    height: 300px;
    position: relative;
    background: none !important;
}

.product-image {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.business-name {
    text-align: center;
    padding-top: 10px;
}

.nav-btn:hover {
    cursor: pointer;
}

#cart-desc {
    display: inline;
}
