.select-holder {
    padding-left: 0 !important;
}

.filter-option-inner-inner {
    text-transform: none;
    font-family: inherit;
    font-size: small;
    color: #495057;
}

.no-padding {
    padding: 0;
}

.left-padding {
    padding-left: 15px;
}

.bootstrap-select {
    padding-left: 0;
}

.product-image-holder {
    height: 300px;
    position: relative;
    background: none !important;
}

.product-image {
    max-height: 300px;
    max-width: 100%;
    width: auto !important;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.business-name {
    text-align: center;
    padding-top: 10px;
}

.nav-btn:hover {
    cursor: pointer;
}

#cart-desc {
    display: inline;
}

.wide-modal {
    max-width: 80%;
}

#snackbar {
    opacity: 0;
    text-align: center;
    position: fixed;
    z-index: 3;
    left: 50%;
    bottom: 50px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

#snackbar.show {
    opacity: 1;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.round-alert {
    border-radius: 20px;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
